<h1>Albums</h1>

<div class="row">
<% @albums.each do |album| %>
<div class="col-md-4">
  <p><%= album.name %> | <%= link_to 'Remove Album', album_path(album),
                         :data => {:confirm => "Confirm Album Deletion?",
                         :method => "delete"} %></p>
</div>
<% end %>
</div>

<p><%= link_to 'Add a New Album', new_album_path %></p>
