<div class="col-lg-12 text-center">
  <h2 class="section-heading"><%= @album.name %></h2>
  <h3 class="section-subheading text-muted"><%= @album.artist %></h3>
</div>

<%= link_to "Edit Album", edit_album_path(@album) %>
<%= link_to "Delete Album", album_path(@album), :data => {:confirm => "Are you sure?", :method => "delete"} %>
